* {
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

.container {
  height: 100vh;
  display: grid;
  text-align: center;
  grid-template: 1fr 0.5fr 10fr 1fr / 1fr 4fr;
  gap: 5px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo {
  justify-self: left;
}

.menu {
  display: grid;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.menu ul,
.menu li {
  list-style: none;
  font-size: 16px;
}

.sidebar {
  display: grid;
  gap: 50px;
  background-color: #ff7755;
  grid-row: 2 / -2;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  align-items: center;
}

.photo {
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  align-items: center;
}

.nav {
  background-color: #ff7755;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  gap: 10px;

  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / -1;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
